kbd {
  border-radius: 3px;
  border-style: outset;
  padding: 2px 5px;
  vertical-align: baseline;
  line-height: 1.8em;
  white-space: nowrap;
  background: var(--color-kbd-bg);
  border: 1px solid var(--color-kbd-bd);
  font-size: 12px;
  user-select: none;
}