/* color palette from <https://github.com/vuejs/theme> */
:root {
  --color-white: #fff;
  --color-black: #121212;
  /* 侧边栏深浅色 */
  --menu-bg-color: #f2f3f5;
  --menu-bg-color-dark: #2e2e30;
  /* 底部控制器深浅色 */
  --controller-bg-color: var(--color-white);
  --controller-bg-color-dark: var(--color-black);
  /* icon background color */
  --icon-bg-color: #c9cdd4;
  --icon-bg-color-dark: #505051;
  /* kdb */
  --kbd-bg-color: var(--color-white);
  --kbd-bg-color-dark: #17171a;
  --kbd-bd-color: #ccc;
  --kbd-bd-color-dark: #333335;
}

/* semantic color variables for this project */
:root {
  --color-base: var(--color-black);
  --color-base-not: var(--color-white);
  --color-menu-bg: var(--menu-bg-color);
  --color-controller-bg: var(--controller-bg-color);
  --color-icon-bg: var(--icon-bg-color);
  --color-kbd-bg: var(--kbd-bg-color);
  --color-kbd-bd: var(--kbd-bd-color);
}

html.dark {
  --color-base: var(--color-white);
  --color-base-not: var(--color-black);
  --color-menu-bg: var(--menu-bg-color-dark);
  --color-controller-bg: var(--controller-bg-color-dark);
  --color-icon-bg: var(--icon-bg-color-dark);
  --color-kbd-bg: var(--kbd-bg-color-dark);
  --color-kbd-bd: var(--kbd-bd-color-dark);
}
